@use "../../css/variables" as variables;
@use "../../css/mixins" as mixins;

.container {
  @include mixins.flex_container(row, center, flex-start);
  width: 100%;

  > .content {
    @include mixins.flex_container(row, center, flex-start);
    padding-top: variables.$height-header;
    min-height: variables.$min-height-main;
    max-width: variables.$web-max-width;
    width: 100%;
    padding-bottom: variables.$web-padding;
  }
}
