@use "../../css/colors" as colors;
@use "../../css/mixins" as mixins;
@use "../../css/variables" as variables;

.container {
  @include mixins.flex_container(column, center, center);
  width: 100%;
  height: variables.$height-footer;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(192, 59, 64, 1) 35%,
    rgba(67, 15, 143, 1) 100%
  );

  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fc591f;
  }
}
